body {
}
#csgo{
    padding-top: 50px;
}
#homeContent{
    padding-top: 50px;
}
#featuredGames{
    padding-top: 50px;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}